@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Lora:ital,wght@0,400..700;1,400..700&family=Moul&family=Quicksand:wght@300..700&display=swap');
:root {
  --header-footer-font: 'Roboto', sans-serif;
  --body-font: 'Quicksand', sans-serif;
  --aside-font: 'Moul', serif;
}

header, footer {
  font-family: var(--header-footer-font);
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
}

/* main {
  padding: 0;
  margin: 0;
} */

.aside-font{
  font-family: var(--aside-font);
  font-weight: 100;
}

header {
  background-color: white;
  display: inline-grid;
  width: 100%;
  height: 25vh;
  grid-template-columns: [col-1] auto [col-2] auto [col-3] auto [col-4] auto [col-5] auto [col-6] auto [col-7] auto [col-8] auto [col-9] auto [col-10] auto [end];
  grid-template-rows: [row-1] 100% [row-2] 100% [row-3];
}

.header-logo {
  grid-column-start: col-3;
  grid-column-end: col-4;
  grid-row-start: row-1;
  grid-row-end: row-2;
  height: 90%;
  width: auto;
  align-self: center;
}

.container-header-logo-tekst {
  position: relative;
  font-family: Arial;
}

.header-logo-tekst {
  position: absolute;
  bottom: 80px;
  right: 78px;
  color: rgb(212, 36, 36);
}

h1 {
  grid-column-start: col-5;
    grid-column-end: col-6;
    align-self: center;
    font-size: 72px; 
    background: linear-gradient(45deg, #1cebd9, #0f7a81, #0e98c2, #FEDA77);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }


nav {
  grid-column-start: col-7;
  grid-column-end: end;
  grid-row-start: row-1;
  grid-row-end: row-2;
  display: flex;
  flex-direction: row;
  gap: 2.5%;
  justify-content: center;
  align-self: center;
}




/* Home pagina*/
.home-content {
  background-color: whitesmoke;
  display: inline-grid;
  width: 100%;
  height: 200vh;
  grid-template-columns: [col-1] auto [col-2] auto [col-3] auto [col-4] auto [col-5] auto [col-6] auto [col-7] auto [col-8] auto [col-9] auto [col-10] auto [end];
  grid-template-rows: [row-1] 20% [row-2] 20% [row-3] 20% [row-4] 20% [row-5];
}

.home-delerium {
  grid-column-start: col-3;
  grid-column-end: col-4;
  grid-row-start: row-1;
  grid-row-end: row-2;
  align-self: center;
  justify-content: center;
  align-self: center;
}

.home-vakantie {
  grid-column-start: col-6;
  grid-column-end: col-9;
  grid-row-start: row-1;
  grid-row-end: row-2;
  align-self: center;
  justify-content: center;
  align-self: center;
}

.filmpjes-flexbox {
    grid-column-start: col-2;
    grid-column-end: col-10;
    grid-row-start: row-2;
    grid-row-end: row-3;
    display: flex;
    flex-direction: row;
    gap: 2.5%;
    justify-content: center;
    align-self: center;
  }

  .plaatjes-flexbox {
    grid-column-start: col-2;
    grid-column-end: col-10;
    grid-row-start: row-3;
    grid-row-end: row-5;
    display: flex;
    flex-direction: row;
    gap: 2.5%;
    justify-content: center;
    align-self: center;
    text-align: center;
  }

  .achtergrondkleur-plaatjes{
    /* background: linear-gradient(45deg, #1cebd9, #0f7a81, #0e98c2); */
    border: 50%;
    border-color: linear-gradient(45deg, #1cebd9, #0f7a81, #0e98c2);
  }


/* Rooster pagina*/

.rooster-content {
  display: inline-grid;
  width: 100%;
  height: 200vh;
  grid-template-columns: [col-1] auto [col-2] auto [col-3] auto [col-4] auto [col-5] auto [col-6] auto [col-7] auto [col-8] auto [col-9] auto [col-10] auto [end];
  grid-template-rows: [row-1] 20% [row-2] 20% [row-3] 20% [row-4] 20% [row-5];
}

.main-rooster {
  grid-column-start: col-1;
  grid-column-end: end;
  grid-row-start: row-1;
  grid-row-end: row-4;
  margin: 0%;
  padding: 0%;
  }



table {
  width: 100%;
  border-collapse: collapse;
}

.table-th {
  background-color: rgb(201, 167, 232);
}

td {
  width: 50px;
  text-align: center;
  white-space: nowrap;
}

.td-time-and-classes {
  background-color: cornsilk;
}

.rooster-background {
  background-image: url("./afbeeldingen/a-classes.jpg");
}

.dans-image {
  width: 100%;
  height: 100%;
}


/*Lessen pagina*/





/*Vakantie pagina*/

.opmaak-container{
  display: inline-grid;
  width: 50%;
  height: 50%;
  grid-template-columns: [col-1] auto [col-2] auto [col-3] auto [col-4] auto [col-5] auto [col-6] auto [col-7] auto [col-8] auto [col-9] auto [col-10] auto [end];
  grid-template-rows: [row-1] 50% [row-2] 100% [row-3];
  flex-direction: column;
}

.containter-img1{
  grid-column-start: col-2;
  grid-column-end: col-5;
  grid-row-start: row-1;
  grid-row-end: row-2;
  height: 50%;
  width: auto;
  align-self: center;
  display: flex;
  width: 100%;
  height: auto;
}

.containter-p{
  grid-column-start: col-3;
  grid-column-end: col-8;
  grid-row-start: row-2;
  grid-row-end: row-2;
  height: 90%;
  width: auto;
  align-self: center;
  display: flex;
}

.containter-img2{
  grid-column-start: col-3;
  grid-column-end: col-8;
  grid-row-start: row-3;
  grid-row-end: row-3;
  height: 90%;
  width: auto;
  align-self: center;
  display: flex;
}
  
/*Contact pagina*/
.h1-element {
  text-align: center;
  color: black;
}

.contactpagina-body {
  background-image: linear-gradient(rgb(62, 228, 228), white, rgb(62, 228, 228), grey,rgb(62, 228, 228));
}


form {
  grid-column-start: col-1;
  grid-column-end: col-1;
  grid-row-start: row-1;
  grid-row-end: row-2;
}

.form-container {
  display: grid;
  grid-template-columns: [col-1] auto [col-2] auto [end];
  grid-template-rows: [row-1] 100% [row-2];
  justify-content: center;
  align-items: center;
  min-height: 60vh; 
}


/* Footer*/
footer {
  margin-top: auto;
  padding: 0;
  background-color: white;
  display: inline-grid;
  width: 100%;
  height: 45vh;
  grid-template-columns: [col-1] auto [col-2] auto [col-3] auto [col-4] auto [col-5] auto [col-6] auto [col-7] auto [col-8] auto [col-9] auto [col-10] auto [end];
  grid-template-rows: [row-1] 100% [row-2];
  justify-content: space-between;
  align-items: center;
}

.footer-contact-info {
  grid-column-start: col-1;
  grid-column-end: col-4;
  grid-row-start: row-1;
  grid-row-end: row-2;
  display: flex;
  flex-direction: column;
  gap: 2.5%;
  justify-content: center;
  align-self: center;
  padding-left: 2.5%;
}

.footer-social-links {
  grid-column-start: col-9;
  grid-column-end: end;
  grid-row-start: row-1;
  grid-row-end: row-1;
  display: flex;
  flex-direction: column;
  gap: 2.5%;
  justify-content: center;
  align-self: center;
}

/* .container-footer-logo-tekst {
  position: relative;
  font-family: Arial;
}

.footer-logo-tekst {
  position: absolute;
  bottom: 80px;
  right: 78px;
  color: rgb(212, 36, 36);
} */


.footer-logo {
  grid-column-start: col-5;
  grid-column-end: col-7;
  grid-row-start: row-1;
  grid-row-end: row-2;
  height: 90%;
  width: auto;
  align-self: center;
}

.fa-facebook {
  color: #1877f2;
  background-color: white;
  font-size: 40px;
  margin-right: 15px;
}

.fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: white;
  font-size: 40px;
  margin-right: 15px;
}

.fa-youtube {
  background: white;
  font-size: 40px;
  color: red;
}


.address-flexbox{
  display: flex;
  flex-direction: column;
  gap: 2.5%;
  justify-content: center;
  align-self: center;
}


/* Stijl voor de dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Verberg het dropdown-content standaard en style het */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

/* Stijl voor de links binnen de dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Verander kleur bij het hoveren over items */
.dropdown-content a:hover {background-color: white}

/* Toon het dropdown menu bij het hoveren over de dropdown link */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Stijl voor de hoofdlink van de dropdown */
.dropbtn {
  background-color: white;
  color:black;
  border: none;
  cursor: pointer;
}

/* Optionele stijl om de link eruit te laten springen */
.dropbtn:hover, .dropbtn:focus {
  background-color:white;
}


/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black
}

/* mouse over link */
a:hover {
  color: linear-gradient(45deg, #1cebd9, #0f7a81, #0e98c2);
}


.active-link {
  text-decoration: underline !important;
  font-size: 110%;
  color: linear-gradient(45deg, #1cebd9, #0f7a81, #0e98c2);
}


