
/*
white chess king        &#9812;
white chess queen       &#9813;
white chess rook        &#9814;
white chess bishop      &#9815;
white chess knight      &#9816;
white chess pawn        &#9817;

black chess king        &#9818;
black chess queen       &#9819;
black chess rook        &#9820;
black chess bishop      &#9821;
black chess knight      &#9822;
black chess pawn        &#9823;

*/

.content-container {

    box-sizing: content-box;

   inline-size: 400px;

    border: 2px solid blue;

    padding-inline: 1em;

}

.border-container {

    box-sizing: border-box;

    inline-size: 400px;

    border: 2px solid red;

    padding-inline: 1em;

}