@charset "utf-8";

p {
    border-style: dotted;
    
}


a > img {
    border-radius: 50%;
}

a.line:link {
    color:#ff0000;
    text-decoration:none;
}
a.line:hover {
    text-decoration:underline;
}